
@using Microsoft.AspNetCore.Identity
@using RadniNalog.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
   Layout = null;
}


       
        <div class="panel panel-primary" id="radniNalog">
            <div class="panel-heading text-center"><h3>Radni Nalozi</h3></div>
            <div class="panel-body">


                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Korisnik"))
                {

                     <a ui-sref="createNalog" class="btn btn-danger btn-block btn-lg">Dodaj Nalog</a>
                }

                <table ng-table="usersTable" show-filter="true" class="table table-striped table-condensed ">

                    <tr ng-repeat="user in data">
                       
                        <td data-title="'Datum'" sortable="'datum'" filter="{ 'datum': 'text' }">
                            {{user.datum | date: 'dd/MM/yyyy' }}
                        </td>
                        <td data-title="'Rukovoditelj'" sortable="'rukovoditelj'" filter="{ 'rukovoditelj': 'text' }">
                            {{user.rukovoditelj | limitTo: 20 }}
                        </td>
                        <td data-title="'Izvrsitelj2'" sortable="'izvrsitelj2'" filter="{ 'izvrsitelj2': 'text' }">
                            {{user.izvrsitelj2 ? user.izvrsitelj2 : "-"}}
                        </td>
                        <td data-title="'Izvrsitelj3'" sortable="'izvrsitelj3'" filter="{ 'izvrsitelj3': 'text' }">
                            {{user.izvrsitelj3 ? user.izvrsitelj3 : "-"}}
                        </td>
                        <td data-title="'Mjesto Rada'" sortable="'mjestoRada.ime'" filter="{ 'mjestoRada.ime': 'text' }">
                            {{user.mjestoRada.ime}}
                        </td>

                        <td data-title="'Automobil'" sortable="'automobil.registracija'" filter="{ 'automobil.registracija': 'text' }">
                            {{user.automobil.registracija}}
                        </td>

                        <td data-title="'Opis Radova'" sortable="'opisRadova'" filter="{ 'opisRadova': 'text' }">
                            {{user.opisRadova}}
                        </td>
                        

                       

                        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") )
                        {

                        
                        <td>
                            <button class="btn btn-primary btn-sm">Uredi</button>

                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" ng-click="removeNalog(user.id)">Izbriši</button>

                        </td>
                        }
                    </tr>
                </table>


            </div>

        </div>
