
<div class="panel panel-default">

    <div class="panel-heading"><h2 class="text-center">Administracija</h2></div>
    <div class="panel-body">

        <div class="well">

            <a ui-sref="radnici" class="btn btn-primary btn-block btn-lg">Zaposlenici</a>


        </div>

        <div class="well">

            <a ui-sref="vrstaRada" class="btn btn-primary btn-block btn-lg">Vrsta Rada</a>


        </div>

        <div class="well">

            <button type="button" class="btn btn-primary btn-block btn-lg"> Mjesto Rada</button>


        </div>

        <div class="well">

            <button type="button" class="btn btn-primary btn-block btn-lg"> Registracije</button>


        </div>




    </div>
    <div class="panel-footer"></div>
</div>


