
<div class="panel panel-default">

    <div class="panel-heading"><h2 class="text-center">Administracija</h2></div>
    <div class="panel-body">

        <div class="well">

            <a ui-sref="create" class="btn btn-primary btn-block btn-lg">Unos Zaposlenika</a>


        </div>

        <div class="well">

            <button type="button" class="btn btn-primary btn-block btn-lg">Unos Vrste Rada</button>


        </div>

        <div class="well">

            <button type="button" class="btn btn-primary btn-block btn-lg">Unos Mjesta Rada</button>


        </div>

        <div class="well">

            <button type="button" class="btn btn-primary btn-block btn-lg">Unos Registracije</button>


        </div>




    </div>
    <div class="panel-footer"></div>
</div>


